[Unit]
Description=SberbankOnline
After=network.service

[Service]
Type=simple
PIDFile=/usr/local/bin/epro/sber/sber.pid
WorkingDirectory=/usr/local/bin/epro/sber

User=epro
Group=epro


ExecStart=/usr/local/bin/epro/sber/sberonline
TimeoutSec=300

Restart=on-failure

[Install]
WantedBy=multi-user.target
